# Pyrogram (основная библиотека)
pyrogram>=2.0.106

# TgCrypto (опционально, для ускорения) - используем правильную версию
tgcrypto>=1.2.12

# Yandex Disk
yadisk[async-defaults]>=3.4.0

# Image compression
Pillow>=10.2.0
